.mhs-info-box {
    &__contact-method {
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        padding: 0;
        margin: .5em .5em .5em 0;
    }
}

.mhste-icon {
	display: flex;
	align-items: center;

    &::before {
        content: '';
        /* margin-right: 1em; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
}