.mhsadmin-info-section {
    margin-top: 2em;
    padding: 2em;
    background-color: #fff;
}

.mhsadmin-info {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.mhsadmin-info__input-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.mhsadmin-info__input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mhsadmin-info__input-box--submit {
    display: block;
    margin-top: 2em;
}

.mhsadmin-info__input-label {
    position: absolute;
    left: 10px;
    top: 18px;
    padding: 0 .5em;
    background-color: #fff;
    color: #ababab;
    z-index: 100;
}

.mhsadmin-info input[type=text],
.mhsadmin-info input[type=tel],
.mhsadmin-info input[type=email] {
    margin-top: 2em;
    height: 45px;
    z-index: 50;
}


@media (min-width: 768px) {
    .mhsadmin-info__input-group {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mhsadmin-info__input-box {
        flex: 0.5;
    }
}

@media (min-width: 1400px) {
    .mhsadmin-info__input-box {
        flex: 0.25;
    }
}